*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 1.2rem;
}

.container {
  max-width: 900px;
  margin: 2em auto;
  padding: 0 1.5em;
}

.contacts_container {
  width: 100%;
}

.contacts_columns {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  column-gap: 1em;
}

.searchbar {
  margin-top: 1em;
  height: 2.5em;
  max-width: 450px;
  width: 100%;
  padding-left: 1em;
  background-color: hsl(190, 30%, 90%, 0.7);
  border-style: none;
  font-size: 0.8em;
  border-radius: 5px;
}

.err1 {
  margin-top: 10px;
}

.contacts_card {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  margin-top: 1em;
  padding: 0.5em;
  border: 1px solid hsl(0 0% 15% / 0.1);
  border-radius: 5px;
}

.contacts_card > h4 {
  margin-bottom: 5px;
}

@media screen and (max-width: 800px) {
  body {
    font-size: 1.3rem;
  }
}
